body{width: 60%; border: 1px solid black;margin: 10px auto;}
h2{color: red;}
ol{padding: 0;}
li{background-color: black;color: white;border-bottom: 1px solid white;padding: 10px;}
a{color: inherit;text-decoration: none;}